* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-weight: 400;
  font-size: 16px;
  font-family: 'OpenSans';

  @media (max-width: 425px) {
    font-size: 14px;
  }
}

body {
  background-color: $color-grey;
  color: #26364b;
}