.form {
  margin: 20px 0;

  @media (max-width: 425px) {
    margin: 10px 0;
  }

  i {
    font-size: 35px;
  }

  &__group {
    margin: 10px 0;

    label {
      display: block;
      line-height: 30px;
    }

    h3 {
      line-height: 40px;
    }

    h4 {
      line-height: 35px;
    }

    input {
      width: 100%;
    }
  }

  &__horizontal {
    display: flex;
  }

  &__vertical {
    &-start {
      align-items: start;
    }

    &-center {
      align-items: center;
    }
  }

  &__nowrap {
    flex-wrap: nowrap;

    input {
      flex: 1;
    }
  }

  &__actions {
    margin: 20px 0;
  }

  &__error-field {
    margin-top: 3px;
    font-size: 12px;
    color: $color-red;
  }
}

.notepad-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
  grid-gap: 15px;

  @media (max-width: 425px) {
    grid-template-columns: 1fr
  }
}