.btn {
  cursor: pointer;
  border: 0;
  outline: 0;
  padding: 8px 12px;
  color: #fff;
  border-radius: 8px;
  font-family: 'OpenSans';
  font-size: 16px;
  transition: all .15s;

  @media (max-width: 425px) {
    font-size: 14px;
  }

  &[disabled]:not(.btn-tiny) {
    cursor: not-allowed;
    background-color: $color-greyDark;

    &:hover {
      background-color: darken($color-greyDark, 15);
    }
  }

  &-success {
    background-color: $color-green;

    &:hover {
      background-color: darken($color-green, 15);
    }
  }

  &-primary {
    background-color: $color-blue;

    &:hover {
      background-color: darken($color-blue, 15);
    }
  }

  &-danger {
    background-color: $color-red;

    &:hover {
      background-color: darken($color-red, 15);
    }
  }

  &-tiny {
    background-color: transparent;
    padding: 0;
    color: #26364b;

    &[disabled] {
      cursor: not-allowed;

      &:hover {
        i {
          color: darken($color-greyDark, 15);
        }
      }

      i {
        color: $color-greyDark;
      }
    }

    &-success {
      color: $color-green;

      &:hover {
        color: darken($color-green, 15);
      }
    }

    &-danger {
      color: $color-red;

      &:hover {
        color: darken($color-red, 15);
      }
    }

    &-dark-primary {
      color: darken($color-blue, 15);

      &:hover {
        color: darken($color-blue, 30);
      }
    }
  }

  &-small {
    font-size: 14px;

    @media (max-width: 425px) {
      font-size: 12px;
    }
  }
}

.icon {
  &-primary {
    color: $color-blue;

    &:hover {
      color: darken($color-blue, 15);
    }
  }

  &-success {
    color: $color-green;

    &:hover {
      color: darken($color-green, 15);
    }
  }

  &-danger {
    color: $color-red;

    &:hover {
      color: darken($color-red, 15);
    }
  }

  &-neutral {
    color: $color-greyDark2;

    &:hover {
      color: darken($color-greyDark2, 15);
    }
  }
}

.link {
  color: $color-blue;

  &:hover, &.active {
    color: darken($color-blue, 15);
  }

  &-tiny {
    text-decoration: none;
  }

  &-green {
    color: $color-greenLight;

    &:hover, &.active {
      color: darken($color-greenLight, 15);
    }
  }
}

input {
  font-size: 14px;
  border: 1px solid $color-greenLight;
  border-radius: 5px;
  padding: 9px 6px 7px;
  outline: none;

  &:hover, &:focus {
    border: 1px solid darken($color-greenLight, 15);
  }

  &::placeholder {
    color: $color-greyDark;
  }

  &.error {
    border-color: $color-red;
  }
}

.fa.fa-spinner {
  font-size: 16px;
}

.flex {
  display: flex;

  &__column {
    flex-direction: column;
  }

  &_wrap {
    flex-wrap: wrap;
  }

  &__1 {
    flex: 1
  }

  &_1 {
    flex: 1;
  }

  &_inline {
    display: inline-flex;
  }

  &_jc {
    &-sb {
      &--xs {
        justify-content: space-between;
      }
    }

    &-c {
      &--xs {
        justify-content: center;
      }
    }
  }

  &_ai {
    &-fs {
      &--xs {
        align-items: center;
      }
    }

    &-c {
      &--xs {
        align-items: center;
      }
    }
  }
}

.form_add-new-issue {
  margin: 0;

  .form__group {
    margin: 0;
  }

  .btn-submit {
    margin-left: 10px;
    line-height: 36px;

    i {
      font-size: 16px;
    }
  }
}

.executor {
  margin: 7px 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .p-dropdown {
    margin-left: 7px;

    .p-inputtext {
      padding: 0.3rem;
      font-size: 14px;
    }

    .p-dropdown-trigger-icon {
      font-size: 14px;
    }

    .p-dropdown-item {
      font-size: 14px;
    }
  }

  @media (max-width: 425px) {
    span {
      display: block;
      margin-bottom: 5px;
      width: 100%;
    }

    .p-dropdown {
      margin-left: 0;
    }
  }
}

.alert.p-toast {
  max-width: 25rem;
  width: auto;

  @media (max-width: 425px) {
    right: 50%;
    transform: translateX(50%);
    width: 300px;
  }

  .p-toast-message-text {
    margin: 0!important;
  }

  .p-toast-message-icon {
    display: none;
  }

  .p-toast-message {
    border: none;
  }

  .p-toast-detail {
    margin: 0!important;
  }

  .p-toast-message-content {
    padding: .75rem;
    justify-content: center;
    text-align: center;
  }
}

.p-dialog {
  &-header {
    display: none!important;
  }

  &-content {
    padding-top: 48px!important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  &-header-icon {
    display: none!important;
  }

  &-draggable &-header {
    cursor: auto!important;
  }

  .p-button {
    color: #fff;

    &-icon {
      color: #fff;
    }

    &-text {
      &:enabled:hover {
        color: #fff!important;
      }
    }

    &:focus {
      box-shadow: none;
    }
  }

  .p-confirm-dialog-reject {
    background-color: darken(#EE246D, 10);
    border: 1px solid darken(#EE246D, 10);

    &:hover {
      background-color: darken(#EE246D, 15)!important;
      border: 1px solid darken(#EE246D, 10)!important;
    }
  }
}

.p-calendar {
  input {
    text-align: right;
    font-size: 20px;
    color: #26364b;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;

    &:focus {
      outline: none;
      box-shadow: none;
      border: none;
    }
  }
}