// colors
$color-grey: #EEF2F8;
$color-greyDark: #ced1db;
$color-greyDark2: #828EA5;
$color-blue: #00adee;
$color-blueDark: #1D8BD8;
$color-red: #EE246D;
$color-purple: #C12497;
$color-greenLight: #29aaac;
$color-green: #6AD281;